/*main*/
 html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
 /*body*/
	 body{
	 	margin: 0px auto ;
	 	background-image: url('../images/bg.jpg');
	 	box-sizing: border-box;
	 	font-family: Tahoma;
	 	font-size: 12px;
 		/*width: 100%;*/
 }
	
/*wrapper	*/
	.wrapper{
		margin: 0px auto;
	}
	
/*header*/
	.header{
		background: #000000;
		box-sizing: border-box;
		overflow: hidden;
 		width: 100%;
 		border-bottom: 2px solid #121212;
 	}
/*container*/ 	
 	.container{
		width: 1000px;
		box-sizing: border-box;
		margin: 0 auto;
	}
	.header_left{
		float:left;
	}
	.header_right{
		float: right;
		margin-top: 15px;
		
	}
	.header_right>li{
		float: left;
		font-size: 12px;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
		background-image: linear-gradient(to top, #080808 0%, #090909 50%, #1c1c1c 100%);
		margin-right: 1px;
		font-family: Tahoma;
		padding-left:43px; 
		position: relative;
		background: none;
	}
	.header_right>li:hover>a{
		color: #f3d21d;
		background: none;
		text-decoration: none; 
	}
	.header_right>li+li:after{
		content: " ";
		position: absolute;
		width: 2px;
		height: 2px;
		background: #afafaf;
		right: 94px;
		top:2px;
		box-shadow: 8px 0  #afafaf, 0 6px #afafaf, 8px 6px #afafaf ;
	}
	
	.header_right>li>a{
		color: #929292;
	}

	.container:before{
		content: "";
		clear: both;
		display: block;

	}
	form{
		border: none;
		box-sizing: border-box;
		color: #ffffff;
		

	}
	input[type="text"],input[type="password"]{
		width: 168px;
		height: 26px;
		border-radius: 14px;
		padding-left: 10px;
		color: #ffffff;

	}

	input[type="submit"]{
		width: 71px;
		height: 28px;
	}
	input{
		background-color: #3f3e3e;
		box-shadow: inset 0 0 6px #000000;
		margin: 7px 8px 8.6px 0;
		border-radius: 14px; 
		border: none;
		color: white;
		cursor: pointer;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
		color: #d8d8d8;
		font-family: Tahoma;
		font-size: 12px;
		font-weight: 400;
		line-height: 4px;
	}
	input:hover{
		/*outline: none;*/
		color: yellow;
	}
	input:focus{
		outline: none;
		color: yellow;
	}
	::-webkit-input-placeholder{
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
		color: #d8d8d8;
		font-family: Tahoma;
		font-size: 12px;
		font-weight: 400;
		padding-left: 16px;
		top: -12px;
    }
    ::-moz-input-placeholder{
    	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
		color: #d8d8d8;
		font-family: Tahoma;
		font-size: 12px;
		font-weight: 400;
		padding-left: 16px;
		top: -12px;
    }
     input:hover::-webkit-input-placeholder {
		color: #f3d21d;
     	}
/*logo*/
	.logo{
		width: 1200px;
		margin: 0 auto;
		background: url('../images/logo_bg.png') no-repeat;
		text-align: center;

	}
	
	.logo>img{

		padding-top: 23px;
		text-align: center;
	}
/*	.nav{
		margin: 0 auto;
	}*/
	.nav>ul{
		font-size: 0;
		overflow: hidden;
	}
	.nav>ul>li{
		float: left;
		font-size: 14px;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
		background-image: linear-gradient(to top, #080808 0%, #090909 50%, #1c1c1c 100%);
		margin-right: 1px;
		font-family: Tahoma;
		font-weight: 400;
	}
	.nav>ul>li>a{
		text-transform: uppercase;	
		display: block;
		text-decoration: none;
		color: #ffffff;
		padding: 10px 18px 10px 15px;
		min-width: 47px;
		text-align: center;
	}
	.nav>ul>li:hover>a{
		color:#f3d21d; 
		background-image: linear-gradient(to top, #0e0e0e 0%, #191919 50%, #2d2d2d 100%);
		transition-timing-function: linear; 
	}
	.nav>ul:after{
		content: "";
		clear: both;
	}
/*slider*/
	.slider_left{
		float:left;
		width: 238px;
		height: 936px;
		margin-top: 37px; 
	}
	.slider_right{
		float: right;
		width: 726px;
		margin: 37px 0 0 30px; 
	}
	.slider:after{
		content: "";
		clear: both;
		display: block;
		}
/*left_1*/
	.left_1{
			border-top:1px solid #929292;
		border-radius: 10px;
		width: 238px;
		background-image: linear-gradient(to top, #080808 0%, #090909 92%, #1c1c1c 100%);
		text-align: center;
	}
	.left_1>h3{
		

	}
	.massage{
		height: 284px;
		width: 217px;
		overflow-y: auto;
		border: 1px solid #181818;
		margin-left: 10px;
		margin-top: 12px;
	}
	.massage_1{
		width: 195px;
		height: 78px;
		border: 1px solid #181818;
		margin: 2px 0 0 2px;
		background: #0f0f0f;
	}
	.massage_1>ul>li{
		display: inline-block;
		height: 15px;
		font-size: 12px;
		color: #ffffff;
		margin: 5px 0 0 35px;
		border-bottom: 2px solid #ffffff;
		position: relative;
		width: 30px;
		/*background-image: url('../images/man.png');*/
		/*background-position: 54px 100px;*/
		/*left: -10px;*/

	}

	/*.massage_1>ul>li:before{
		content: "";
		position: absolute;
		width: 20px;
		height: 20px;
		background-image: url('../image/user.png');
		left: 10px;
		top: 10px;
		border: 1px solid white;

	}*/
	.massage_1>ul>li:last-child{
	 margin: 0 5px 0 90px;
	 border: none;
	}
	.massage_1>p{
		width: 178px;
		height: 78px;
		color: #ffffff;
		font-family: Tahoma;
		font-size: 12px;
		font-weight:400;
		line-height: 15px;
		margin-top: 10px ;
		margin-left: 10px;
		text-align: left;
	}
	.left_1>form{
		margin-top: 20px;
	}
	textarea{
		background: #3f3e3e;
		border-radius: 5px;
		width: 218px;
		min-height: 58px;
		max-height: 158px;
		min-width: 100px;
		max-width: 300px;
		box-shadow: inset 0 0 6px #000000;
		border: 1px solid #000000;
		color:#ffffff;
		position: relative;
		resize: none;
	}
	textarea:focus{
		outline:none;
	}
	textarea:after{
		content: "";
		position: absolute;
		width: 100px;
		height: 100px;
		background: red;
		border-top: 6px solid red;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		left: 0;
		top: 0;
	}

		.left_1>form>input::-webkit-input-placeholder{
		color: red;
	}
	.left_1 input[type="submit"]{
		width: 82px;
		height: 24px;
		border-radius: 6px;
	}





/*left_2*/
	.left_2{
			border-top:1px solid #929292;
		border-radius: 10px;
		margin-top: 38px;
		width: 238px;
		background-image: linear-gradient(to top, #080808 0%, #090909 90%, #1c1c1c 100%);
	}
	.left_2>p{
		/*margin: 0;*/
		text-align: center;
	}
	.left_2>div{
		margin-top: 20px;
	}
	.left_2>div>p{
		text-align: center;
		margin-top: 3px;
	}
	.left_2>p+div+p{
		margin-top: 35px;
	}
	.left_2>p+div+p+p{
		margin-top: 25px;
		padding-bottom: 20px;
	}
	.name{
		line-height: 15px;
	}
	.green{
		color: #059a19;
	}
	.yellow{
		color:#ff8a00;
	}
	.aqua{
		color: #00aeef;
	}
	.blue{
		color: #605ca8;
	}
	.violet{
		color: #ec008c;
	}
	.red{
		color: #ef0f17;
	}

/*left.3*/
	.left_3{
		border-top:1px solid #929292;
		border-radius: 10px;
		margin-top:38px;
		width: 238px;
		background-image: linear-gradient(to top, #080808 0%, #090909 90%, #1c1c1c 100%);
		text-align: center;
	}
	.left_3>p{
		margin: 0;
		margin-top: 14px;
	}
	.left_3>ul{
		font-size: 0px;
		margin-top: 23px;
		padding-bottom: 15px;
	}
	.left_3>ul>li{
		display: inline-block;
		width:  35px;
		height: 35px;
		margin-right: 14px;
	}
	.left_3>ul>li:last-child{
		margin-right: 0;
	}
	.left_3>ul>li>a{
		display: block;
		font-size: 16px;
		background: url('../images/icons.png');
		background-position: 243px 63px;
		width: 35px;
		height: 35px;
		border-radius: 5px;
	}
	.left_3>ul>li+li>a{
		background-position: 184px 127px;
	}
	.left_3>ul>li+li+li>a{
		background-position: 304px 254px;
	}

	.right_1{
		border-top:1px solid #929292;
		border-radius: 10px;
		height: 372px;
		width: 726px;
		background-image: linear-gradient(to top, #080808 0%, #090909 90%, #1c1c1c 100%);
	}
	.right_2{
		border-top:1px solid #929292;
		border-radius: 10px;
		margin-top: 40px;
		width: 726px;
		background-image: linear-gradient(to top, #080808 0%, #090909 97%, #1c1c1c 100%);
		padding-bottom: 54px;
	}
	.right_11{
		margin: 13px 0 13px 13px;
		width: 700px;
		height: 151px;
		background-image: url('../images/slider_25.png');
		border: 2px solid #929292;
	}
	.right_12{
		border-top: 1.5px solid #616161 ;
		background-image: linear-gradient(to top, #080808 0%, #090909 85%, #1c1c1c 100%);
		margin-bottom: 8px;
		padding-bottom: 12px;
	}
	p{
		color: #ffffff;
		font-size: 14px;
		font-family: Tahoma;
		font-weight: 400;
		margin:13px 0 0 5px;
	}
	span{
		color: #ffd200;
	}
	.right_img{
		width: 698px;
		border: 2px solid #181818;
		margin-left: 12px;
		background: #0f0f0f;
		box-shadow: 0px 0px 0 3px black, 0 0 2px 4px #0f0f0f;
		/*margin-bottom: 9px; */
		padding-bottom: 8px;
	}
	.img_12{
		width: 181px;
		height: 123px;
		background: url('../images/Layer_24.png')no-repeat;
		float: left;
		margin: 10px 12px 0 10px;
	}
	.text_12{
		float: left;
		width: 470px;
	}
	.text_12>p{
		color: #ffffff;
		font-size: 12px;
		line-height: 16px;
		/*margin-right: 12px;*/
		margin: 10px 12px 0 4px;
	}
	
	.right_img>.text_12>.detali{
		margin-top: 12px;
		position: relative;
	}
	.right_img>.text_12>.detali>a{
		color: #ffffff;
		font-size: 12px;
		padding: 3px 20px 3px 15px;
		border-radius: 5px;
		background-image: linear-gradient(to top, #151515 0%, #090909 50%, #1c1c1c 100%);
		text-decoration: none;
	}
	.right_img>.text_12>.detali>a:hover{
		 background-image: linear-gradient(to top, #0e0e0e 0%, #191919 50%, #2d2d2d 100%);
	}
	.right_img>.text_12>.detali>a:before{
		content: "";
		position: absolute;
		width: 2px;
		height: 2px;
		background:  #ffffff;
		box-shadow: 3px 0 0 0 #ffffff, 6px 0 0 0 #ffffff; 
		left: 77px;
		top: 12px;
		border-radius:40%;
	}
	.right_12>h3{
		margin-bottom: 20px;
		margin-left: 12px;
	}
	.lorem{
		color: #f5d41c;
		font-family: Tahoma;
		font-size: 14px;
		font-weight: 400;
		line-height: 16px;
		margin: ;
		text-decoration: underline;
	}
	h3{
		color: #ffffff;
		font-size: 14px;
		font-weight: 400;
		/*line-height: 4px;*/
		margin-top: 15px;
		margin-left: 5px;
	}
	.right_img:after{
		content: "";
		clear: both;
		display: block;
	}
	.right_2>h3{
		margin-bottom: 22px;
		margin-left: 12px;
	}
/*right_211*/
	.right_211{
		width:698px; 
		background: #0f0f0f;
		margin: 17px 0 0 12px;
		border: 2px solid #181818;
		box-shadow: 0px 0px 0 3px black, 0 0 2px 4px #0f0f0f; 
		padding-bottom: 10px;
	}
	.img_21{
		float:left;
		margin: 10px 10px 0 10px;
	}
	.text_21{
		float:left;
		position: relative;
		width: 475px;
		
	}
	.right_212:after{
		content: "";
		clear: both;
		display: block;
	}
	.text_21>h3{
		font-size: 14px;
		font-weight: 400;
		text-decoration: underline;
		color: #f5d41c;
		margin-top: 9px;
	}
	.text_21>h3+p{
		color: #f5d41c;
		font-family: Tahoma;
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		color: #ffffff;
		text-decoration: none;
		margin-right: 12px;
	}
	.text_21>p+p{
		color: #f5d41c;
		font-family: Tahoma;
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		color: #ffffff;
		text-decoration: none;
		margin-right: 12px;
	}
	.right_211>.text_21>.detali{
		margin-top: 22px;
	}
	
	.text_21>.detali>a{
		text-decoration: none;
		color: #ffffff;
		font-size: 12px;
		padding: 3px 20px 3px 15px;
		border-radius: 5px;
		background-image: linear-gradient(to top, #151515 0%, #090909 50%, #1c1c1c 100%);
	}
	.text_21>.detali>a:before{
		content: "";
		position: absolute;
		background: #ffffff;
		width: 2px;
		height: 2px;
		box-shadow: 3px 0 0 0 #ffffff, 6px 0 0 0 #ffffff; 
		left: 81px;
		top: 135px;
	}
	.text_21>.detali>a:hover{
		 background-image: linear-gradient(to top, #0e0e0e 0%, #191919 50%, #2d2d2d 100%);
	}
	.right_211:after{
		content: "";
		clear: both;
		display: block;
	}
/*right212*/
	.right_212{
		width: 698px;
		/*height: 190px;*/
		background: #0f0f0f;
		margin: 17px 0 0 12px;
		border: 2px solid #181818;
		box-shadow: 0px 0px 0 3px black, 0 0 2px 4px #0f0f0f; 
		padding-bottom: 12px;
	}
	.right_212>.text_21>.detali{
		margin: 13px 0 0 3px;
	}
	.right_212>.text_21>.detali>a:before{
		content:"";
		position: absolute;
		width: 2.5px;
		height: 2.5px;
		top: 178px;
		left: 79px;
		box-shadow: 3px 0 0 0 #ffffff, 6px 0 0 0 #ffffff; 
		border-radius: 50%;
	}
	.right211+.right_211>.text_21>.detali>a:before{
		top: 178px;
	}
	

/*right_23*/
	.right_23{
		width: 698px;
	}
	.right_223>ul{
		margin-top: 15px;
	}
	.pref{
		text-decoration: none;
		font-size: 18px;
		color: #ffffff;
		display: block;
		margin: 20px 0 0 15px;
		padding-left: 30px;
		float: left;
		position: relative;
	}
	.next{
		text-decoration: none;
		font-size: 18px;
		color: #ffffff;
		display: block;
		margin: 20px 15px 0 120px;
		padding-right:  30px;
		float: left;
		position: relative;
	}
	.right_223>ul{
		float: left;
	}
	
	.right_223:after{
		content: "";
		clear: both;
	}
	.pref:before{
		content: "";
		position: absolute;
		width: 0px;
		height: 0px;
		border-right:  6px solid #ffffff;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		left: 5px;
		top: 6px;
	}
	.pref:after{
		content: "";
		width: 10px;
		height: 3px;
		background: #ffffff;
		position: absolute;
		right: 68px;
		top: 9px;
	}
	.next:before{
		content: "";
		position: absolute;
		width: 0px;
		height: 0px;
		border-left:  6px solid #ffffff;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		left: 78px;
		top: 6.4px;
	}
	.next:after{
		content: "";
		width: 10px;
		height: 3px;
		background: #ffffff;
		position: absolute;
		right: -2px;
		top: 9px;
	}
	.right_223>a:hover {
		color: #f5d41c;
	}
	.right_223>ul{
		margin:25px 50px 0 152px;
	}
	.right_223>ul>li{
		float: left;
		height: 12px;
		width: 12px;
		margin-left: 10px;
		position: relative;
	}
	.right_223>ul>li>a{
		color: #ffffff;
		display: block;
	}
	.right_223>ul>li>a:hover {
		color: #f5d41c;
	}
	.right_223>ul>a:hover{
		border-color: #f5d41c;
		background: #f5d41c; 
	}
	.right_223:after{
		content: "";
		clear: both;

	}
	.one>a:active{
		text-decoration: none;
	}

	}
	.right_223>ul>li+li+li+li{
		margin-right: 6px; 
	}
	.middle{
		height: 10px;
		width: 10px;
		margin-top: 6px;
	}
	.middle>a{
		height: 14px;
		width: 12px;
		margin-left: 0px;

	}
	.middle>a:before{
		content: "";
		position: absolute;
		width: 2px;
		height: 2px;
		background: #ffffff;
		box-shadow: 4px 0px #ffffff, 8px 0 #ffffff;
		top: 4px;
	}
	.middle:hover>a:before{
		background: #f5d41c;
		box-shadow: 4px 0px #f5d41c, 8px 0 #f5d41c;
	}
	.right>ul:after{
		content: "";
		clear: both;
		display: block;
	}

/*nav_2*/
	.nav_2{
		margin-top: 55px;
	}
	.nav_2>ul{
		font-size: 0px;
		overflow: hidden;
		list-style: none;
	}
	.nav_2>ul>li{
		display: inline-block;
		font-size: 14px;
		background-image: linear-gradient(to top, #080808 0%, #090909 50%, #1c1c1c 100%);
		padding: 10px 0px 10px 0;`
		text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
		margin-right: 1px;
		min-width: 47px;
		text-align: center;
	}
	.nav_2>ul>li>a{
		text-decoration: none;
		text-transform: uppercase;
		color: #ffffff;
		padding: 10px 24px  10px 24px;
		min-width: 67px;
		/*text-align: center;*/


	}
	.nav_2>ul>li>a:hover{
		color: #f3d21d;
		background-image: linear-gradient(to top, #0e0e0e 0%, #191919 50%, #2d2d2d 100%);
		transition-timing-function: linear; 
	}
	.footer{
		width: 462px;
		font-size: 12px;
		line-height: 14px;
	}

	
	

	


	

	






/*footer*/
